<div id="about" ng-controller="aboutController" >
    <br class="clear" />
    <br><br/>
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10" align="center">
            <div flash-message="4000" ></div> 
            <br><br/>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <!--div for about information-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" align="center">
            <h1>Acerca de Votar</h1>
            <div class="panel-body" align="center">
             
            </div>
        </div>
        <div class="col-md-1"></div> 
    </div>
</div> 